@media (max-width: 576px) {
    .list-group-item {
        width: 100%;
    }
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    margin-left: 25%;
    width: 300px;
    background-color: #4caf50;
    border-radius: 10px !important;
    color: #FFF;
    padding: 1.75rem 1.25rem;
}

button.list-group-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    width: 300px;
    background-color: #4caf50;
    border-radius: 10px !important;
    color: #FFF;
}

.category-animated-div {
    padding-bottom: 15px;
    padding-top: 15px;
    -webkit-columns: 260px 2; /* Chrome, Safari, Opera */
    -moz-columns: 260px 2; /* Firefox */
    columns: 260px 2;
    column-gap: 350px;
}

ul.category-animated-div {
    width: 300px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}


.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.category-animated-div {
    padding-inline-start: 0;
}

.category-wrapper {
    width: 700px;
    margin: 0 auto;
}