:root {
    --main-color:#42810c;
}

img {
    width: 250px;
}

.navbar {
    box-shadow: 0 2px 5px 0 white, 0 2px 10px 0 white;
    font-weight: 300;
}

//BUTTONS =======================================
.userButton , .shoppingCart {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 10px;
    font-size: 14px;
    font-family: inherit;
    border: 2px solid #40464c;
    color: #40464c;
    background-color: #edf0ed;
}
.userButton {
    color: white;
    margin-right: 55px;
    background-color: #40464c;
    
}

.shoppingCart{
    margin-right: 5px;
}

.shoppingCart:hover{
  background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 65px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .userButton {background-color: #3e8e41;}

//SEARCH BAR =======================================

.searchBarContainer{
    position: relative;
    background-color: var(--main-color);
}


.searchInput , .button-search{
  position: relative;
  margin: 10px auto;
  padding: 7px 10px;
  border: 1px solid #42810c;
  border-radius: 4px;
  outline: 0;
}

.searchInput{
  width: 84%;
  border-radius: 2em 0 0 2em;
  margin-left: 5%;
  background-color: #f8f9fa; 
}

.button-search{
  border-radius: 0 2em 2em 0;
  background-color: #2e2e2e;
  color: white;
  padding-right: 13px;
}

.button-search:hover{
  background-color: #3e3a3a;
}