@import url('https://fonts.googleapis.com/css?family=Bitter');


//IMAGES COLUMN and ROW -----------------------------------

.flex-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  margin: 16px;
  //padding: 10px;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  box-sizing:border-box;
}

@media (max-width:767px) {
  .flex-col {
    flex-basis: calc(50% - 12px);
  }
}

@media (max-width:460px) {
  .flex-col {
    flex-basis: 100%;
  }
}


.vet-spec-container{
    max-width: 75%;
}


//HEADER -----------------------------------
.productBannerHeader{
    font-family: inherit;
    font-weight: 600;
    font-size:3vw;
    color: #3b3d3b;
    padding-top: 8px;
}

.product-header-container {
}

body {
  background-color: #edf0ed;
}