.brands {
  display: table-cell;
  vertical-align: middle;
  text-align:center;
  margin-left: 5%;
  width: 150px;
    
}


.brandBannerHeader {
  font-family: inherit;
  font-weight: 600;
  font-size:1vw;
  color: #3b3d3b;
  padding-top: 8px;
}